<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>POSITIAVE HOME</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- positivae CSS Files -->
  <link href="/positivae/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/positivae/icofont/icofont.min.css" rel="stylesheet">
  <link href="/positivae/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/positivae/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/positivae/venobox/venobox.css" rel="stylesheet">
  <link href="/positivae/aos/aos.css" rel="stylesheet">
<!--bot-->
  <link rel="stylesheet" type="text/css" href="/css/jquery.convform.css">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

</head>

<body>
    <button type="button" class="mobile-nav-toggle d-lg-none"><i class="icofont-navigation-menu"></i></button>

     <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
       
        <a href="/"><img src="/img/new logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>


          <li><a href="">Home</a></li>
          <li class="drop-down"><a href="#services">Services</a>
            <ul>
              <li><a href="/view/doctorscategory">Book Appointment</a></li>
              <li><a href="/view/meditation">Group Session</a></li>
              
            </ul>
          </li>
          <li><a href="/view/blog">Blog</a></li>
          <li><a href="/view/anomainpage">Anonymous Chat</a></li>
          <li><a href="/">Dashbord</a></li>
          <li><a href="/#contact">Contact Us</a></li>         
          <li><a class="logged-out" href="/view/signup"> Sign Up</a></li>

          <li>
              <a class="logged-in" href="/" id="logout">Logout</a>
          </li>
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header><!-- End Header -->


  <!-- ======= Parts Section ======= -->
  <section id="Part1">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Why do we</h1>
            <h2>use it?</h2>
            <p><b>Positivae</b> is a platform where we are trying to change the traditional way of consultation into more efficient and modern way. It will strengthen the way patients and doctors interact.
              It is an effort to change the point of view of people who are not concerned about their own social wellness, be it physical or mental. Our platform is the change that scoiety needs nowadays and accept the fact that social health is also important. Through our platform we seek to boost the progress of social health by using different means.
          </p>
            <div class="text-center text-lg-left">
              <a href="/view/signup" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 Part1-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="/img/homeimage.png" class="img-fluid animated" alt="homeimage">
        </div>
      </div>
    </div>




  </section>

  <section id="Part2">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Book An</h1>
        <h2>Appointment</h2>
        <p>Feeling a need to talk to someone and be heard? Just take one single step and all your problems can be solved easily.
          By using Positivae you can book a session with a medical practitioner and interact with them either online or offline.
          An interaction with a consultant will be life-changing and will help you stay to focus on the positive things in your life.
          
      </p>
            <div class="text-center text-lg-left">
              <a href="/view/doctorscategory" class="btn-get-started scrollto">Book An Appointment</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 Part2-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="/img/appointment.png" class="img-fluid animated" alt="appointment">
        </div>
      </div>
    </div>

  </section>
  <section id="Part3">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Feeling Low,</h1>
            <h2>Need To Talk?</h2>
        <p>Want to make new friends? Want to talk to somebody? <b>Chat anonymously</b> with people all over
          the world. Share texts, stories, data, photos or moments with anybody you want, whenever 
          you want. <b>Choose Positivae</b> and create new moments with new
         people.
     </p>
            <div class="text-center text-lg-left">
              <a href="/view/anomainpage" class="btn-get-started scrollto">Let's Chat!</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 Part3-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="/img/Anonymous_talk.png" class="img-fluid animated" alt="Anonymous_talk">
        </div>
      </div>
    </div>

  </section>
  <section id="Part4">

    <div class="container">
      <div class="row">
        <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
          <div data-aos="zoom-out">
            <h1>Why Positivae </h1>
            <h2>Social?</h2>
            <p><b>Positivae social</b> plays a very important role in today's life, 
              Positivae social is <b>web-based online tools</b> that enable people discover and learn new information,
               share ideas, <b>interact</b> with new people and organizations.
               It has changed the way people live their life today, making <b>communication</b> much easier.
          </p>
            <div class="text-center text-lg-left">
              <a href="" class="btn-get-started scrollto">Stay Connected</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 order-1 order-lg-2 Part1-img" data-aos="zoom-out" data-aos-delay="300">
          <img src="/img/11png.png" class="img-fluid animated" alt="homeimage">
        </div>
      </div>
    </div>




  </section>
  
  <!-- End Parts -->

  <!-- ======= Team Section ======= -->
 <!--<section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-in">Team</h2>
        <p data-aos="fade-in"></p>
      </div>

      <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="fade-up">
            <div class="pic"><img src="/img/team/aman1 char.png" alt="image"></div>
            <h4>VAIBHAV PAL</h4>
            <span>Founder</span>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="pic"><img src="/img/team/ab1 char.png" alt="image"></div>
            <h4>ABHISHEK SINGH</h4>
            <span>Sales and Marketing Expert</span>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      
        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="100">
            <div class="pic"><img src="/img/team/ma1 char.png" alt="image"></div>
            <h4>MADHU SUDAN SINGH</h4>
            <span>Front End Designer Lead</span>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-lg-4 col-md-6">
          <div class="member" data-aos="fade-up" data-aos-delay="200">
            <div class="pic"><img src="/img/team/har1 char.png" alt="image"></div>
            <h4>HARSH SINGH</h4>
            <span>Full Stack Lead</span>
            <div class="social">
              <a href=""><i class="icofont-twitter"></i></a>
              <a href=""><i class="icofont-facebook"></i></a>
              <a href=""><i class="icofont-instagram"></i></a>
              <a href=""><i class="icofont-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>-->

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
  <div class="container">

    <div class="section-title">
      <h2 data-aos="fade-in">Contact</h2>
      <p></p>
    </div>

    <div class="row">

      <div class="col-lg-6">

        <div class="row">
         
          <div class="col-md-12">
            <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p> postivae@gmail.com</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+91-8960967697</p>
            </div>
          </div>
        </div>

      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form w-100" data-aos="fade-up">
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
      </div>

    </div>

  </div>
</section><!-- End Contact Section -->
   
 <!-- ======= Footer ======= -->
 <footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-4 col-md-6">
          <div class="footer-info">

            <a href="/"><img src="/img/new logo.png" alt="" class="img-fluid"></a>  

             
            </p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/positivae_/" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/view/donateus">Donate</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/#contact">Contact</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/view/t&co">Term & Condition</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/view/t&co">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/view/blog">Blog</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="">Positivae Social</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="">Meditation</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/#team">Team</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
        
         
          <p><b>Welcome To The POSITIVAE Family.</b></p>
          <button type="submit"><a href="/view/doctorapplication">Doctor Enrollment</button></a><br>
          <button type="submit" ><a href="/view/influencerapplication">Trainer Enrollment</button></a>
         

        </div>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      <strong><span>POSITIVAE.COM</span></strong>
    </div>
   
  </div>
</footer>
 <!-- End Footer -->

<!--Bot -->
<div class="chat_icon">
	<i class="icofont-robot" aria-hidden="true"></i>
</div>

<div class="chat_box">
	<div class="my-conv-form-wrapper">
		<form action="" method="GET" class="hidden">

      <select data-conv-question="Hello! How can I help you" name="category">
        <option value="WebDevelopment">Website Development ?</option>
        <option value="DigitalMarketing">Digital Marketing ?</option>
      </select>

      <div data-conv-fork="category">
        <div data-conv-case="WebDevelopment">
          <input type="text" name="domainName" data-conv-question="Please, tell me your domain name">    
        </div>
        <div data-conv-case="DigitalMarketing" data-conv-fork="first-question2">
          <input type="text" name="companyName" data-conv-question="Please, enter your company name"> 
        </div>
      </div>

      <input type="text" name="name" data-conv-question="Please, Enter your name">

      <input type="text" data-conv-question="Hi {name}, <br> It's a pleasure to meet you." data-no-answer="true">

      <input data-conv-question="Enter your e-mail" data-pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" type="email" name="email" required placeholder="What's your e-mail?">

      <select data-conv-question="Please Confirm">
        <option value="Yes">Confirm</option>
      </select>

  	</form>
	</div>
</div>
<!--Bot end -->

<!--
  <a href="#" class="back-to-top">
    <i class="icofont-robot"></i>
  </a>-->

  <script>
    // logout
    const logout = document.getElementById('logout');
    logout.addEventListener('click', (e) => {
        e.preventDefault();
        auth.signOut().then(() => {
            console.log("signed out");
        });
    });
</script>

 <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js " integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx " crossorigin="anonymous "></script>

 <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js " integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj " crossorigin="anonymous "></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js " integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN " crossorigin="anonymous "></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js " integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s " crossorigin="anonymous "></script>
 -->
 <!-- The core Firebase JS SDK is always required and must be listed first -->
 <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-app.js "></script>
 <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-auth.js "></script>
 <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-firestore.js "></script>

 <!-- TODO: Add SDKs for Firebase products that you want to use
    https://firebase.google.com/docs/web/setup#available-libraries -->
 <script src="https://www.gstatic.com/firebasejs/8.0.1/firebase-analytics.js "></script>


  <!-- positivae JS Files -->
  <script src="/positivae/jquery/jquery.min.js"></script>
  <script src="/positivae/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/positivae/jquery.easing/jquery.easing.min.js"></script>
  <script src="/positivae/php-email-form/validate.js"></script>
  <script src="/positivae/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/positivae/owl.carousel/owl.carousel.min.js"></script>
  <script src="/positivae/venobox/venobox.min.js"></script>
  <script src="/positivae/aos/aos.js"></script>

  <!--chatbox-->
  <script type="text/javascript" src="/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="/js/jquery.convform.js"></script>
<script type="text/javascript" src="/js/custom.js"></script>

  <!-- Template Main JS File -->
  <!--<script src="/js/main.js"></script>-->

  <script src="/js/index.js"></script>

</body>

</html>